* {
    font-family: 'Sofia Sans';
}

/* Navbar */
.navbar {
    background-color: black;
}

.navbar-brand img {
    height: 60px;
    width: 60px;
    margin: 10px;
}

.navbar-nav a {
    font-size: 20px;
    margin: 5px;
    color: white;
    transition: 0.3s;
}

.navbar-nav a:hover {
    color: rgb(255, 138, 95);
}

/* Header */
.header-container {
    margin: 30px;
}

.header-container h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.header-container p {
    font-size: 16px;
    margin: 0;
}

/* Series Index */
.series-p a {
    color: rgb(255, 138, 95);
    cursor: pointer;
    text-decoration: none;
}

.series-container table {
    width: 80%;
    margin: auto;
    text-align: center;
}

.series-container thead {
    background-color: rgb(255, 138, 95);
    color: black;
    font-size: 20px;
    display: auto;
}
